package main

import (
	"go.uber.org/zap"

	"{{.Module}}/config"
	"{{.Module}}/pkg/db"
	"{{.Module}}/pkg/logger"
)

func main() {
	cfg, err := config.Load()
	if err != nil {
		panic(err)
	}
	lg := logger.Init(cfg.Log.Level, cfg.Log.File)
	defer func() { _ = lg.Sync() }()

	database, err := db.New(cfg.Database.URL)
	if err != nil {
		lg.Fatal("database connection failed", zap.Error(err))
	}
	defer database.Close()

	// TODO: insert development seed data using `database`.
	lg.Info("seed complete")
}
