package {{.Package}}

import (
	"context"

	ent "{{.Imports.Entity}}"
)

// {{.Entity | ToPascalCase}}Repository is the persistence port for {{.Entity | ToLower}} entities.
type {{.Entity | ToPascalCase}}Repository interface {
	Create(ctx context.Context, m *ent.{{.Entity | ToPascalCase}}) error
	GetByID(ctx context.Context, id int64) (*ent.{{.Entity | ToPascalCase}}, error)
	List(ctx context.Context) ([]*ent.{{.Entity | ToPascalCase}}, error)
	Update(ctx context.Context, m *ent.{{.Entity | ToPascalCase}}) error
	Delete(ctx context.Context, id int64) error
}
