version: "3"

tasks:
  run:
    cmds:
      - go run ./{{if eq .Arch "simple"}}.{{else}}cmd/server{{end}}
  build:
    cmds:
      - go build -o bin/server ./{{if eq .Arch "simple"}}.{{else}}cmd/server{{end}}
  test:
    cmds:
      - go test ./...
  tidy:
    cmds:
      - go mod tidy
  lint:
    cmds:
      - golangci-lint run
